<div class="row">
  <div class="card col m-1 p-sm-1">
    <div class="card-block">
      <form #formCredentials
            (submit)="save()"
            [formGroup]="credentialsForm"
            class="k-form"
            novalidate>
        <fieldset formGroupName="authentication">
          <legend>Credentials</legend>
          <div class="k-form-field">
            <label [for]="userName">
              Username<span class="k-required">*</span>
            </label>
            <input #userName class="k-textbox"
                   placeholder="Your username"
                   formControlName="userName"/>
            <div class="card alert-danger p-1"
                  *ngIf="credentialsForm.controls.authentication.invalid && (credentialsForm.controls.authentication.dirty)">
              <div *ngIf="credentialsForm.controls.authentication.controls.userName.required"
                    class="card alert-danger">
                Sorry, but the user name is required!
              </div>
              <div *ngIf="credentialsForm.controls.authentication.controls.userName.errors.minlength"
                   class="card alert-danger">
                Sorry, but the user name has a minimum length!
              </div>
            </div>
          </div>
          <div class="k-form-field">
            <Label [for]="password">
              Password <span class="k-field-info">optional</span>
            </Label>
            <input #password type="password" class="k-textbox"
                   placeholder="Your password"
                   formControlName="password" />
          </div>
          <label class="k-form-field">
            <input type="checkbox" id="auth-2fa" class="k-checkbox" checked>
            <label class="k-checkbox-label" for="auth-2fa">Enable two-factor authentication</label>
          </label>
        </fieldset>
        <div class="text-right">
          <button type="button"
                  class="k-button"
                  (click)="reset()"
                  [disabled]="!formCredentials.dirty && formCredentials.untouched">
            Cancel
          </button>
          <button type="submit"
                  class="k-button k-primary"
                  [disabled]="formCredentials.invalid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="card alert-danger p-1">
    <p>{{credentialsForm.value | json}}
    <p>{{credentialsForm.status | json}}
    <p>{{credentialsForm.get("authentication").errors | json }}
  </p>
</div>
