<div class="row">
  <div class="card col m-1 p-sm-1">
    <div class="card-block">
      <form #userFrom="ngForm"
            class="k-form"
            (submit)="saveUser()"
            novalidate>
        <fieldset class="p-1"
                  ngModelGroup="UsersInfo">
          <legend>User Details</legend>
          <!-- first name -->
          <label class="k-form-field">
            <label [for]="firstName">
              First Name<span class="k-required">*</span>
            </label>
            <input #firstName class="k-textbox"
                   required maxlength="10"
                   placeholder="Your Name"
                   name="firstName"
                   [(ngModel)]="model.firstName"/>
          </label>
          <!-- last name -->
          <label class="k-form-field">
            <label [for]="lastName">
              Last Name <span class="k-field-info">(verplicht)</span>
            </label>
            <input #lastName class="k-textbox"
                   value="Batista"
                   placeholder="Your Last Name"
                   name="lastName"
                   [(ngModel)]="model.lastName"/>
          </label>
          <!-- birth date -->
          <label class="k-form-field">
            <label [for]="birthDate">
              Date of birth <span class="k-required">*</span>
            </label>
            <kendo-datepicker #birthDate required
                              name="dateOfBirth"
                              [(ngModel)]="model.dateOfBirth"
                              [disabled]="isReadOnly">
            </kendo-datepicker>
          </label>
          <!-- gender-->
          <div class="k-form-field">
            <span>
              Gender <span class="k-field-info">(optioneel)</span>
            </span>
            <input type="radio" name="gender" id="female" class="k-radio">
            <label class="k-radio-label" for="female">Female</label>
            <input type="radio" name="gender" id="male" class="k-radio" checked>
            <label class="k-radio-label" for="male">Male</label>
          </div>
          <label class="k-form-field">
            <span>Email <span class="k-required">*</span></span>
            <input type="email" class="k-textbox" value="bernardo.batista@progress.com" placeholder="Your Email"/>
          </label>
          <label class="k-form-field">
            <span>Company<span class="k-field-info">optional</span></span>
            <input class="k-textbox" placeholder="Your Company"/>
          </label>
        </fieldset>

        <fieldset ngModelGroup="CredentialsInfo">
          <legend>Credentials</legend>
          <label class="k-form-field">
            <span>Username</span>
            <input class="k-textbox" value="bbatista" placeholder="Your username"/>
          </label>
          <label class="k-form-field">
            <span>Password</span>
            <input type="password" class="k-textbox" value="123456" placeholder="Your password"/>
          </label>
          <label class="k-form-field">
            <input type="checkbox" id="auth-2fa" class="k-checkbox" checked>
            <label class="k-checkbox-label" for="auth-2fa">Enable two-factor authentication</label>
          </label>
        </fieldset>

        <div class="text-right">
          <button type="button"
                  class="k-button"
                  (click)="reset()"
                  [disabled]="!userFrom.dirty && userFrom.untouched">
            Cancel
          </button>
          <button type="submit"
                  class="k-button k-primary"
                  [disabled]="userFrom.invalid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  <p class="card alert-info m-1">
    {{model | json}}
  </p>
</div>
