<div class="container-fluid">
  <div class="row collapse">
    <div class="offset-1 col-sm-11">
      <play-component>Loading...</play-component>
    </div>
  </div>
  <div class="row">
    <div class="offset-1 col-sm-5">
      <app-users-component [model]="user" >
        Loading...
      </app-users-component>
    </div>
    <div class="col-sm-5 offset-1">
      <app-address-component [model]="user.address">
        Loading
      </app-address-component>
      <app-credentials-component [model]="user.credentials">
        Loading...
      </app-credentials-component>
    </div>
  </div>
</div>
